@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  /* background: linear-gradient(to bottom,rgb(0, 0, 0) 0.1%,  rgb(7, 85, 47)); */
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
.font-paytone {
  font-family: 'Paytone One', sans-serif;
}

.bg{
  background: linear-gradient(to bottom,rgb(0, 0, 0),  rgb(7, 85, 47));
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}